<div class="card mb-3" id="Planes"
    style="background:none; width: 80%;background: none; margin: auto; border: none; margin-top: 20PX;">
    <h2>Planes de Entrenamiento</h2>
    <div class="row g-0" style="background:none; border: none; margin-top: 20PX;">
        <div class="col-md-8" style="background: none; padding: 20px; color: #A5D7E8; text-align: center;">
            <p class="card-text">
                El entrenamiento físico es una parte esencial de un estilo de vida saludable y activo. Ya sea que estés
                buscando mejorar tu resistencia cardiovascular, aumentar tu fuerza muscular, perder peso o simplemente
                mantenerte en forma, un plan de entrenamiento bien diseñado puede ayudarte a alcanzar tus objetivos de
                manera efectiva.
            </p>
            <p class="card-text">Diseñé dos tipos de rutinas de entrenamiento físico: las generales y las
                personalizadas.
                Ambas tienen sus ventajas y desventajas, y es importante entenderlas para elegir el enfoque adecuado
                según
                tus necesidades y preferencias.</p>
        </div>
        <div class="col-md-4" id="imagenPlanes">
            <img src="./assets/imagenes/marcos.PNG" class="img-fluid rounded-end" alt="...">
        </div>
    </div>
</div>

<div style="width: 80%; margin: auto; background: none;">

    <div style="background: none;">
        <div class="row g-0" style="background:none; border: none; margin-top: 20PX;">
            <div class="col-md-4" id="imagenPlanes">
                <img src="./assets/imagenes/ejercicio.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8" style="background: none; padding: 20px; color: #A5D7E8;">
                <div class="card-body">
                    <h5>Rutinas Generales:</h5>
                    <p class="card-text">{{planes[0].texto}}</p>
                    <h6>Ventajas de las Rutinas Generales</h6>
                    <ul>
                        <li>{{planes[0].ventaja1}}</li>
                        <li>{{planes[0].ventaja2}}</li>
                        <li>{{planes[0].ventaja3}}</li>
                        <li>Unico pago</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="background: none;">
        <div class="row g-0" style="background:none; border: none; margin-top: 20PX;">
            <div class="col-md-8" style="background: none; padding: 20px; color: #A5D7E8;">
                <div class="card-body">
                    <h5>Rutinas Personalizadas:</h5>
                    <p class="card-text">{{planes[1].texto}}</p>
                    <h6>Las rutinas personalizadas tienen ventajas como:</h6>
                    <ul>
                        <li>{{planes[1].ventaja1}}</li>
                        <li>{{planes[1].ventaja2}}</li>
                        <li>{{planes[1].ventaja3}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" id="imagenPlanes">
                <img src="./assets/imagenes/ayudando.png" class="img-fluid rounded-end" alt="...">
            </div>
        </div>
    </div>
</div>