<div class="contenedor">
    <nav class="navbar bg-body-tertiary" style="background-color: black; margin-top: 0; top: 0;">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="color: white;">Pectorales</h1>
            <form class="d-flex">
                <a routerLink="/home" class="btn btn-outline-success">
                    Inicio
                </a>
                <a style="margin-left: 5px;" routerLink="/guias" class="btn btn-outline-success">
                    Otras Guias
                </a>
            </form>
        </div>
    </nav>
    <div style="background-color: none; border: none;  width: 80%; margin: auto; padding-top: 40px;">
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-4">
                    <img src="/assets/imagenes/flexion1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Flexiones de brazos: EL CUADRADO</h5>
                        <p class="card-text">Coloca tus palmas de modo que estén cuadradas con los hombros. Dobla los
                            codos llevandolos hacia atras trabajando el pecho y los tríceps.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--separacion entre tarjeta-->
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Flexiones de brazos: EL RECTANGULO</h5>
                        <p class="card-text">Separa las manos para que cuando bajes el pecho al piso, los brazos, el
                            pecho y el piso formen un rectángulo</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/assets/imagenes/flexion2.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
        <!--separacion entre tarjeta-->
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-4">
                    <img src="/assets/imagenes/flexion3.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Flexiones de brazos: EL AGUILA</h5>
                        <p class="card-text">Comienza en la misma posición del ejercicio anterior, pero esta vez separa
                            los dedos mientras bajas y gíralos hacia afuera. Sentirás ese ardor bonito en el pectoral.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>