<div class="card text-bg-dark" style="margin-top: 0px; padding: 0; z-index: -1; background-color: black;">
    <nav class="navbar bg-body-tertiary" style="background-color: black; margin-top: 0; top: 0;">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="color: white;">Marcos Saluzzo - Personal Trainer</h1>
        </div>
    </nav>
    <div id="carouselExampleFade" style="padding: 0;" class="carousel slide carousel-fade container-fluid" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let imagenes of portada">
                <div class="carousel-item active">
                    <img src="/assets/imagenes/2nuevo.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="/assets/imagenes/3nuevo.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="/assets/imagenes/1nuevo.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>