<div id="SobreMi"
    style="background: none; border: none ;margin: auto; width: 100%; margin-top: 20px;">
    <div class="card" style="background: none; border:none;">
        <div class="card mb-3" style="background:none; width: 80%; margin: auto; border: none;">
            <div class="row g-0" style="background:none; border: none;">
                <div class="col-md-4">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" >
                            <div class="carousel-item active">
                                <img src="./assets/imagenes/marcos3.webp" class="d-block w-100"  alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/imagenes/marcos2.webp" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/imagenes/marcos1.webp" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8" style="background: none; padding: 20px; color: #A5D7E8; text-align: center;">
                    <h2>Quien Soy?</h2>
                    <h5 class="card-title">{{info[0].titulo}}</h5>
                    <p class="card-text">{{info[0].texto}}</p>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="background:none; width: 80%;background:none; margin: auto; border: none;">
            <h2>Experiencia Laboral</h2>
            <div class="row g-0" style="background:none; border: none;"  *ngFor="let Experiencia of experiencia">
                <div class="col-md-8" style="background: none; padding: 20px; color: #A5D7E8; text-align: center;">
                    <h5 class="card-title">{{Experiencia.nombreExperiencia}}</h5>
                    <p class="card-text">{{Experiencia.descripcionExperiencia}}</p>
                    <p class="card-text">{{Experiencia.periodoExperiencia}}</p>
                </div>
                <div class="col-md-4">
                    <img [src]="Experiencia.imagen" class="img-fluid rounded-end" alt="...">
                </div>
            </div>
        </div>
       
    </div>