

h2{
    color:#576CBC;
    margin: auto;
}
.card{
    top: 10px;
}
.btn-outline-success{
    border-color: yellow;
    color: yellow;
}
.d-block{
    border-radius: 100%;
}
.btn-outline-success:hover{
    background-color: rgb(50, 124, 0) ;
    color: black ;
}


@media screen and ( max-width: 600px) {
    .carousel-inner{
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 150px;
    }
    .card{
        top: 0;
    }
}