<div class="contenedor">
    <nav class="navbar bg-body-tertiary" style="background-color: black; margin-top: 0; top: 0;">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="color: white;">Piernas y Gluteos</h1>
            <form class="d-flex">
                <a routerLink="/home" class="btn btn-outline-success">
                    Inicio
                </a>
                <a style="margin-left: 5px;" routerLink="/guias" class="btn btn-outline-success">
                    Otras Guias
                </a>
            </form>
        </div>
    </nav>
    <div style="background-color: none; border: none;  width: 80%; margin: auto; padding-top: 40px;">
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-4">
                    <img src="/assets/imagenes/lunge.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Lunge Lateral</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut numquam modi mollitia aperiam. Voluptate, fuga dolor ullam autem corporis, iure placeat rerum earum odit praesentium qui et ipsa quis nihil!</p>
                    </div>
                </div>
            </div>
        </div>
        <!--separacion entre tarjeta-->
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gemelos de pie</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem in impedit sit molestias nam! Deserunt nemo, optio inventore, officiis voluptatem sapiente minima corrupti blanditiis dignissimos iste laborum, doloremque fugiat quae.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/assets/imagenes/gemelos.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
        <!--separacion entre tarjeta-->
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-4">
                    <img src="/assets/imagenes/sentadilla.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Sentadillas</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore natus quas, doloribus debitis exercitationem ea cupiditate accusamus porro provident tempora reprehenderit aspernatur, id fuga, ex odit repudiandae impedit velit!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--separacion entre tarjeta-->
        <div class="card mb-3" style="max-width: 100%; background-color: rgba(0,0,0,.8);">
            <div class="row g-0" style="background:none;">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Hip Thrust</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem in impedit sit molestias nam! Deserunt nemo, optio inventore, officiis voluptatem sapiente minima corrupti blanditiis dignissimos iste laborum, doloremque fugiat quae.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/assets/imagenes/hipthrust.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>